In [ ]:
#--------------------------Get The Genre Code Starts Here---------------------------


import time
import requests

api_key = '48ce7f0a023cb3f3f4eb6027cff4f84f'

# Set the base URL for TMDB's API
base_url = 'https://api.themoviedb.org/3/'

# Fetch genre data
genre_data = {}
genre_endpoint = 'genre/movie/list'
genre_params = {'api_key': api_key}

start_time = time.time()
print("INFO | Fetching the list of Genres from the TMDB API GET CALL")
print("INFO | Transaction Started")
response = requests.get(base_url + genre_endpoint, params=genre_params)

if response.status_code == 200:
    genre_info = response.json()
    for genre in genre_info['genres']:
        genre_data[genre['id']] = genre['name']
    end_time = time.time()
    elapsed_time = end_time - start_time
    print(f"INFO | Fetch Genre Transaction completed Successfully | Time taken: {elapsed_time} seconds")
else:
    print('ERROR | Error fetching genre data:', response.status_code)

#--------------------------Get The Genre Code Ends Here---------------------------

INFO | Fetching the list of Genres from the TMDB API GET CALL
INFO | Transaction Started
INFO | Fetch Genre Transaction completed Successfully | Time taken: 0.19937801361083984 seconds

In [ ]:
#--------------------------Get The Movie list with specified Date range Code Starts Here ---------------------------
import requests
import time

api_key = '48ce7f0a023cb3f3f4eb6027cff4f84f'
base_url = 'https://api.themoviedb.org/3/'
endpoint = 'discover/movie'
params = {
    'api_key': api_key,
    'primary_release_date.gte': '2020-01-01',
    'primary_release_date.lte': '2020-01-31',
    'append_to_response': 'id'
}

all_movies = []
start_time = time.time()
page = 1
print("INFO | Fetching the list of movies from the TMDB API GET CALL")
print("INFO | Transaction Started")
while True:
    params['page'] = page
    response = requests.get(base_url + endpoint, params=params)

    if response.status_code == 200:
        movie_data = response.json()
        if not movie_data['results']:
            break
        all_movies.extend(movie_data['results'])
        page += 1
    else:
        print('Error:', response.status_code)
        break

end_time = time.time()
elapsed_time = end_time - start_time
elapsed_time = round(elapsed_time, 3)
print(f"INFO | Fetch Movie Transaction completed Successfully | Time taken: {elapsed_time} seconds")

# Print all the titles and IDs of the movies
#for movie in all_movies:
#    print(f"Title: {movie['title']}, ID: {movie['id']}")


#--------------------------Get The Movie list with specified Date range Code Ends Here ---------------------------

INFO | Fetching the list of movies from the TMDB API GET CALL
INFO | Transaction Started
INFO | Fetch Movie Transaction completed Successfully | Time taken: 48.41 seconds

In [ ]:
#map the genre
genre_name_map = {genre_id: genre_name for genre_id, genre_name in genre_data.items()}

# Iterate through all movies and replace genre IDs with genre names
print("INFO | Mapping the Genres IDs with Genre Names")
for movie in all_movies:
    genre_ids = movie.get('genre_ids', [])
    genre_names = [genre_name_map.get(genre_id, 'Unknown') for genre_id in genre_ids]
    movie['genres'] = genre_names
print("INFO | Mapping Genre IDs with Genre Name transaction completed successfully")

INFO | Mapping the Genres IDs with Genre Names
INFO | Mapping Genre IDs with Genre Name transaction completed successfully

In [ ]:
import pandas as pd

# Create a list of dictionaries, where each dictionary represents a movie
movies_data = []

print("INFO | Converting response received from the API call to DataFrame ")
for movie in all_movies:
    movie_data = {
        'ID': movie.get('id', 'N/A'),  # Add movie ID
        'Title': movie.get('title', 'N/A'),
        'Overview': movie.get('overview', 'N/A'),
        'Release Date': movie.get('release_date', 'N/A'),
        'Genres': ', '.join(movie.get('genres', ['N/A'])),  # Convert list to a comma-separated string
        'Average Rating': movie.get('vote_average', 'N/A'),
        'Runtime (minutes)': movie.get('runtime', 'N/A'),
        'Production Companies': ', '.join([company.get('name', 'N/A') for company in movie.get('production_companies', [])]),
        'Languages': ', '.join([language.get('name', 'N/A') for language in movie.get('spoken_languages', [])]),
    }
    movies_data.append(movie_data)

# Create a DataFrame from the list of movie data
movie_df = pd.DataFrame(movies_data)
print("INFO | Transaction completed successfully, Dataframe created from the data received from the API CALL")
print("INFO | Printing the 1st record of the Dataframe")
movie_df.head(1)

INFO | Converting response received from the API call to DataFrame
INFO | Transaction completed successfully, Dataframe created from the data received from the API CALL
INFO | Printing the 1st record of the Dataframe

,ID,Title,Overview,Release Date,Genres,Average Rating,Runtime (minutes),Production Companies,Languages
0,665142,Young Aunt 3,Seok-yeong has been living with his father eve...,2020-01-02,Romance,5.6,N/A,,

In [ ]:
#print the columns to check what all sorts of data do we have in response received from the API.
selected_movie = all_movies[0]
print("Available Columns for the Selected Movie:")
for column in selected_movie.keys():
    print(column)

Available Columns for the Selected Movie:
adult
backdrop_path
genre_ids
id
original_language
original_title
overview
popularity
poster_path
release_date
title
video
vote_average
vote_count
genres

In [ ]:
movie_df.head(1)

,ID,Title,Overview,Release Date,Genres,Average Rating,Runtime (minutes),Production Companies,Languages
0,665142,Young Aunt 3,Seok-yeong has been living with his father eve...,2020-01-02,Romance,5.6,N/A,,

In [ ]:
import pandas as pd
start_time = time.time()

# Assuming you've already retrieved 'all_movies' and mapped genre names to each movie

# Create a list of dictionaries, where each dictionary represents a movie
movies_data = []

# Create a set of unique genre names
unique_genres = set()

for movie in all_movies:
    movie_id = movie.get('id', 'N/A')  # Add movie ID
    title = movie.get('title', 'N/A')
    overview = movie.get('overview', 'N/A')
    release_date = movie.get('release_date', 'N/A')
    average_rating = movie.get('vote_average', 'N/A')
    runtime = movie.get('runtime', 'N/A')
    production_companies = ', '.join([company.get('name', 'N/A') for company in movie.get('production_companies', [])])
    languages = ', '.join([language.get('name', 'N/A') for language in movie.get('spoken_languages', [])])

    genre_ids = movie.get('genre_ids', [])
    genre_names = [genre_name_map.get(genre_id, 'Unknown') for genre_id in genre_ids]

    unique_genres.update(genre_names)

    movie_data = {
        'ID': movie_id,  # Include movie ID
        'Title': title,
        'Overview': overview,
        'Release Date': release_date,
        'Average Rating': average_rating,
        'Runtime (minutes)': runtime,
        'Production Companies': production_companies,
        'Languages': languages,
    }

    for genre in genre_names:
        movie_data[genre] = 1  # Set a value of 1 for the genre column
    movies_data.append(movie_data)

# Create a DataFrame from the list of movie data
movie_df = pd.DataFrame(movies_data)

# Fill missing values with 0 (movies that don't belong to a particular genre)
movie_df.fillna(0, inplace=True)

# Reset the index of the DataFrame
movie_df.reset_index(drop=True, inplace=True)

end_time = time.time()
elapsed_time = end_time - start_time
elapsed_time = round(elapsed_time, 3)
print(f"INFO | Cleaning, Genre Transaction completed Successfully | Time taken: {elapsed_time} seconds")

INFO | Cleaning the Genre Transaction completed Successfully | Time taken: 0.108 seconds

In [ ]:
movie_df.head()
#after processing the Genreids with Genre names we have dataframe as seen as below

,ID,Title,Overview,Release Date,Average Rating,Runtime (minutes),Production Companies,Languages,Romance,Comedy,...,Adventure,Horror,Documentary,Music,History,Mystery,Animation,War,TV Movie,Western
0,665142,Young Aunt 3,Seok-yeong has been living with his father eve...,2020-01-02,5.6,N/A,,,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,522627,The Gentlemen,American expat Mickey Pearson has built a high...,2020-01-01,7.7,N/A,,,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38700,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,2020-01-15,7.1,N/A,,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,552532,Charm City Kings,Mouse desperately wants to join The Midnight C...,2020-01-27,7.9,N/A,,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,514207,Invasion,"Two years after the fall of the alien ship, th...",2020-01-01,6.9,N/A,,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def storeToDatabaseImpl(data):
  #write logic to store the data into the database when the flag is set to true
  #this function should be called when the threshold of the inetrval is reached
  #eg: when we set the the interval to every 15 days to store the data then on the 15th day this function should be called to perform further DB transactions
  pass

In [ ]:
movie_df = movie_df.sort_values(by='ID', ascending=True)

In [ ]:
import pandas as pd

# Check for null or 'N/A' values in the entire DataFrame
null_or_na_values = movie_df.isna() | (movie_df == 'N/A')

# Sum the occurrences of null or 'N/A' values in each column
column_null_or_na_counts = null_or_na_values.sum()

# You can then print or process these counts as needed
print(column_null_or_na_counts)

ID                         0
Title                      0
Overview                   0
Release Date               1
Average Rating             0
Runtime (minutes)       3584
Production Companies       0
Languages                  0
Romance                    0
Comedy                     0
Crime                      0
Thriller                   0
Action                     0
Drama                      0
Science Fiction            0
Family                     0
Fantasy                    0
Adventure                  0
Horror                     0
Documentary                0
Music                      0
History                    0
Mystery                    0
Animation                  0
War                        0
TV Movie                   0
Western                    0
dtype: int64

In [ ]:
#as runtime column is having null values more rows we will drop the column to process it further
# List of columns to drop
columns_to_drop = ['Production Companies', 'Languages','Runtime (minutes)', 'Overview']

# Drop the specified columns
movie_df = movie_df.drop(columns_to_drop, axis=1)

In [ ]:
movie_df.head(1)

,ID,Title,Release Date,Average Rating,Romance,Comedy,Crime,Thriller,Action,Drama,...,Adventure,Horror,Documentary,Music,History,Mystery,Animation,War,TV Movie,Western
2,38700,Bad Boys for Life,2020-01-15,7.1,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

# Initialize the database connection
db_url = "mysql://username:password@localhost/database"
engine = create_engine(db_url)

# Define a function to insert data into the database
def insert_data():
    current_day = datetime.datetime.now().weekday()

    # Check if today is Friday (4) to ensure insertion only on Fridays
    if current_day == 4:
        for index, row in movie_df.iterrows():
            movie_id = row["ID"]
            # Check if the movie ID is already in the database
            query = f"SELECT * FROM movies WHERE id = {movie_id}"
            result = engine.execute(query)

            if not result.fetchall():
                # Insert the data into the database
                insert_query = f"INSERT INTO movies (id, title) VALUES ({movie_id}, '{row['Title']}')"
                engine.execute(insert_query)
                print(f"Inserted: {row['Title']} (ID: {movie_id})")

# Run the data insertion function
insert_data()

ModuleNotFoundError: ignored